*{
    box-sizing : border-box;
}

body{
    margin : 0;
    padding : 0;
    background-color : rgb(208, 205, 205);
}

.container{
    width : 98%;
    max-width : 1200px;
    margin : auto;
    border-left : 2px solid rgba(5, 132, 222, 0.85);
    border-right : 2px solid rgba(5, 132, 222, 0.85);
    padding : 30px 40px 50px;
    background-color : white;
    
}

.header-wrapper{
    background-color : goldenrod;
}

.header-content-container{
    background-color :rgba(63, 2, 142, 0.927);
    width : 90%;
    margin : 0 auto;
    
}